<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carniceria"></ion-back-button>
    </ion-buttons>
    <ion-title> Insertar carne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresar Carne</ion-card-title>
    </ion-card-header>

    <ion-card>
      <img src="https://img.vixdata.io/pd/jpg-large/es/sites/default/files/imj/elgranchef/R/Recetas-con-carne-para-celebrar-una-ocasion-especial-9.jpg">
    </ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de la carne </ion-label>
        <ion-input #nameCarne></ion-input>
      </ion-item>

        <ion-item>
          <ion-label position="floating">precio</ion-label>
          <ion-input #precioCarne></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">cantidad</ion-label>
          <ion-input #cantidad></ion-input>
        </ion-item>
        <ion-label>unidad Medida</ion-label>
        <ion-select placeholder="unidad Medida" #unidadMedida>
          <ion-select-option value="kg">kg</ion-select-option>
        </ion-select>
      <ion-label>tipo Carne</ion-label>
      <ion-select placeholder="tipo Carne" #tipoCarne>
        <ion-select-option value="1">carne</ion-select-option>
        <ion-select-option value="2">pollo</ion-select-option>
        <ion-select-option value="3">pescado</ion-select-option>
        <ion-select-option value="4">pescador</ion-select-option>
      </ion-select>

      <ion-button color="primary" expand="full" (click)="saveCarne(nameCarne,cantidad,tipoCarne,unidadMedida,precioCarne)">Guardar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
