<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carniceria"></ion-back-button>
    </ion-buttons>
    <ion-title> Update carne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>soy la latitud{{latitud}}</h1>
  <h2>soy la longitud{{longitud}}</h2>
</ion-content>
