<ion-header>
  <ion-toolbar>
    <ion-title>carniceria</ion-title>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  routerLink="/contact">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>


        <ion-tab-button routerLink="/insert-carne">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>Ingresar Carne</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let carne of Carnes ">
    <ion-card-header>
      <ion-card-subtitle>
        Nombre de la carne: {{carne.nombre}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-item>
      <ion-button fill="outline" slot="end" [routerLink]="['/','edit-carne',carne.id]">View</ion-button>
        <img src="https://fundaciondelcorazon.com/images/Blog/iStock-627240344.jpg">
    </ion-item>
    <ion-card-content>
      esta carne cuenta con una cantidad de : {{carne.cantidad}},
      de {{carne.unidadMedida}}, con valor de : {{carne.precio}} pesos
    </ion-card-content>
  </ion-card>


</ion-content>
