<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/carniceria"></ion-back-button>
    </ion-buttons>
    <ion-title> Update carne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <img src="https://agroecuador.org/media/k2/items/cache/d197c421d422f5cbf569ea13f09ef700_XL.jpg">
    <ion-card-content>
    el nombre de la carne es : {{ nombre }} pesos
      su precio es :{{ precio }} y la catidad es :{{ Cantidad }}
    </ion-card-content>
  </ion-card>

  <ion-title>Actualizar cantidad</ion-title>
  <ion-item>
    <ion-label position="floating">cantidad de la carne </ion-label>
    <ion-input #cantidad></ion-input>
  </ion-item>
  <ion-button color="primary" expand="full" (click)="updateCantidad(cantidad)" >Actualizar</ion-button>

</ion-content>
